<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="">
<body>
<style>
    h1{
        color: aliceblue;
    }
    body{
        background-image: url("static/images/new.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }
    li a{
        display: inline;
    }
    li{
        float: left;
    }
    a{
        display: block;
        padding: 8px;
        background-color: steelblue;
    }
    ul{
        background-color: antiquewhite;
    }
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: steelblue;
        position: sticky;
    }

    li{
        float: left;
    }

    li a{
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    /* Change the link color to #111 (black) on hover */
    li a:hover{
        background-color: darkkhaki;
    }
</style>
    <nav class="nav navbar-default navbar-static-top">
         <div class="container">
             <ul class="nav navbar-nav">
                 <li class="navbar-brand"><a href="http://127.0.0.1:8000/">Home</a></li>
                 <li class="navbar-link"><a href="http://127.0.0.1:8000/course">Course</a></li>
                 <li class="navbar-link"><a href="http://127.0.0.1:8000/detail">Course Detail</a></li>
                 <li class="navbar-link"><a href="http://127.0.0.1:8000/about">About</a></li>
                 <li class="navbar-link"><a href="http://127.0.0.1:8000/contact">Contact</a></li>
             </ul>

         </div>
    </nav>
    <div class="container">
        {% block body_block %}
        {% endblock %}
    </div>

</body>
</html>