<!DOCTYPE html>
{% extends 'base.html' %}
    {% block body_block %}
        <h1>Course Page</h1>
{#        <ol>#}
{#            <li><a href="{% url 'web_api:detail' %}">{{ python }}</a></li>#}
{#            <li><a href="{% url 'web_api:detail' %}">{{ django }}</a></li>#}
{#            <li><a href="{% url 'web_api:detail' %}">{{ java }}</a></li>#}
{#        </ol>#}
{% endblock %}