<!DOCTYPE html>
{% extends 'base.html' %}
    {% block body_block %}
        <h1>Home Page</h1>
        <style>
            div.gallery {
                margin: 10px;
                border: 1px solid #ccc;
                float: left;
                width: 180px;
            }

            div.gallery:hover {
                border: 1px solid #777;
            }

            div.gallery img {
                width: 100%;
                height: auto;
            }

            div.desc {
                color: darkkhaki;
                padding: 15px;
                text-align: center;
            }
        </style>
        <div class="gallery">
            <a target="_blank" href="static/images/shell.jpg">
                <img src="static/images/shell.jpg" alt="Cinque Terre" width="600" height="400">
            </a>
            <div class="desc">Okay</div>
        </div>
        <div class="gallery">
            <a target="_blank" href="static/images/shell.jpg">
                <img src="static/images/shell.jpg" alt="Cinque Terre" width="600" height="400">
            </a>
            <div class="desc">Okay</div>
        </div>
        <div class="gallery">
            <a target="_blank" href="static/images/shell.jpg">
                <img src="static/images/shell.jpg" alt="Cinque Terre" width="600" height="400">
            </a>
            <div class="desc">Okay</div>
        </div>
        <div class="gallery">
            <a target="_blank" href="static/images/shell.jpg">
                <img src="static/images/shell.jpg" alt="Cinque Terre" width="600" height="400">
            </a>
            <div class="desc">Okay</div>
        </div>
        <div class="gallery">
            <a target="_blank" href="static/images/shell.jpg">
                <img src="static/images/shell.jpg" alt="Cinque Terre" width="600" height="400">
            </a>
            <div class="desc">Okay</div>
        </div>
        <div class="gallery">
            <a target="_blank" href="static/images/shell.jpg">
                <img src="static/images/shell.jpg" alt="Cinque Terre" width="600" height="400">
            </a>
            <div class="desc">Okay</div>
        </div>
{#        <ol>#}
{#            <li>#}
{#                <a href="{% url 'web_api:course' %}">{{ course }}</a>#}
{#            </li>#}
{#            <li>#}
{#                <a href="{% url 'web_api:detail' %}">{{ course_detail }}</a>#}
{#            </li>#}
{#            <li>#}
{#                <a href="{% url 'web_api:about' %}">{{ about }}</a>#}
{#            </li>#}
{#            <li>#}
{#                <a href="{% url 'web_api:contact' %}">{{ contact }}</a>#}
{#            </li>#}
{#        </ol>#}
    {% endblock %}